<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p class='droid-ascii-art no-wrap'><%= render file: "app/views/ascii-art/im2-mining-droid.txt", context_type: 'text/plain' %><p>
  </div>
</div> <!-- /container -->

<div class="container">
  <h1>Recent Posts</h1>
  <div class="row">
    <!--
      This is where the latest 10 blog posts will go
    -->
    <div ="col-md-12">
      <%= react_component('PostsApp', prerender: false) %>
    </div>
  </div>
</div>
