// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$accent: darken(#428bca, 15%);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radiud: $radius;
}

.PostsGrid-Post {
  @include border-radius(5px);
  border: 1px $accent solid;
  margin: 1em;
  padding: 0.5em;
}
